:root {
  --bg-color: white;
  --text-color: black;
  background-color: var(--bg-color);
  color: var(--text-color);
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
/* body.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    box-shadow: 0 0 10px var(--text-color);
    caret-color: var(--text-color);
    scrollbar-color: var(--text-color) var(--bg-color);


} */